@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/mixins";

$yellow:  #FCD214;
$yellow-light:#FFD658;
$gray-800: #333A3D;
$secondary:     $gray-800;
$gray-900: #1F2426;//$dark
$gray-100: #F5F7F8; //$light
$gray-300: #B8BEC3;
$green:   #48CE65;
$green-light:#91E1A2;
$cyan:    #0B3D67;
$link-color:$gray-100;
$nav-link-color:$gray-100;
$nav-link-hover-color:$gray-100;

$nav-link-width:90%;
$nav-link-height:50px;



/*$primary:       $blue;
$secondary:     $gray-600;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-900;1F2426
$blue:    #0d6efd;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #d63384;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;FCD214
$green:   #198754;48CE65
$teal:    #20c997;
$cyan:    #0dcaf0;0B3D67
$white:    #fff;
$gray-100: #f8f9fa;F5F7F8
$gray-200: #e9ecef;
$gray-300: #dee2e6;B8BEC3
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;333A3D
$gray-900: #212529;1F2426
$black:    #000;*/

